body {
    text-align: center;
    background-color: azure;
}

a {
    text-decoration: none;
}

textarea {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

form {
    margin-top: -25px;
}

input {
    margin-bottom: 10px;
    width: 180px;
}

button {
    margin-top: 5px;
    width: 80px;
}

a {
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: red;
}
